apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: development

resources:
  - namespace.yaml
  - rbac.yaml
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: jupyterhub
  app.kubernetes.io/component: development
  app.kubernetes.io/part-of: rpi-k8s-platform
