apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jupyterhub-data
  namespace: development
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
