apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: jaeger
  app.kubernetes.io/component: tracing
  app.kubernetes.io/part-of: rpi-k8s-platform
