apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
  namespace: data-services
type: Opaque
stringData:
  # Change these in production!
  postgres-password: "postgres123"
  mlflow-password: "mlflow123"
  jupyterhub-password: "jupyter123"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-init
  namespace: data-services
data:
  init.sql: |
    -- Create databases for services
    CREATE DATABASE mlflow;
    CREATE DATABASE jupyterhub;
    
    -- Create users
    CREATE USER mlflow WITH PASSWORD 'mlflow123';
    CREATE USER jupyterhub WITH PASSWORD 'jupyter123';
    
    -- Grant privileges
    GRANT ALL PRIVILEGES ON DATABASE mlflow TO mlflow;
    GRANT ALL PRIVILEGES ON DATABASE jupyterhub TO jupyterhub;
    
    -- Connect to mlflow database and setup
    \c mlflow
    GRANT ALL ON SCHEMA public TO mlflow;
    
    -- MLFlow will create its own tables on first connection
    -- No need to create tables manually
    
    -- Connect to jupyterhub database and setup
    \c jupyterhub
    GRANT ALL ON SCHEMA public TO jupyterhub;
