# =============================================================================
# Kustomization - VictoriaMetrics
# =============================================================================

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: victoriametrics

resources:
  - pvc.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
