apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: data-services
type: Opaque
stringData:
  # Change these in production!
  root-user: "minioadmin"
  root-password: "minioadmin123"
